In [112]:
from underdog import info

## Overview
**Status**: Development

**Tested**: Windows only

**Requires**: Python 3.8+

The *underdog* package provides Python classes and functions to easily access free equity-related data through Panda dataframes. Data is cached on disk to improve performance and limit API requests to the data providers (which often rate limit the APIs). Currently, data is pulled from [Polygon](https://polygon.io), [finViz](https://finviz.com), and TD Ameritrade. 

Feel free to send questions, comments or feedback to: nanoonan at marvinsmind dot com.

## Installation

1. Install [parkit](https://github.com/nanoonan/parkit), which provides the storage layer. 

2. Install _underdog_ by opening a command prompt, navigating to the top-level directory of the git installation, and running the following command.

```
python -m pip install .
```

3. You'll need a free account with [Polygon](https://polygon.io) and a developer account with TD Ameritrade. The documentation for [tda-api](https://tda-api.readthedocs.io/en/latest/index.html) has more information on setting up a TDA developer account.

4. Finally, set up the environment variables used to access data from your accounts. The next cell describes these variables.

In [113]:
info('environment')

╒════════════════════════╤═══════════════════════════════════════════════╕
│ Environment Variable   │ Description                                   │
╞════════════════════════╪═══════════════════════════════════════════════╡
│ POLYGON_API_KEY        │ The API key from your Polygon account.        │
├────────────────────────┼───────────────────────────────────────────────┤
│ TDA_TOKEN_PATH         │ Path to file where TDA auth token is stored.  │
├────────────────────────┼───────────────────────────────────────────────┤
│ TDA_API_KEY            │ The API key from your TDA developer account.  │
├────────────────────────┼───────────────────────────────────────────────┤
│ TDA_REDIRECT_URI       │ In most cases this will be https://localhost. │
├────────────────────────┼───────────────────────────────────────────────┤
│ TDA_ACCOUNT_ID         │ Account id for your TDA trading account.      │
╘════════════════════════╧═══════════════════════════════════════════════╛

## API

In [114]:
info()

info(topic: str) -> useful information
Valid info topics: environment, classes, functions

In [115]:
# The main classes for accessing historic data
info('classes')

╒═════════════════════════╤════════════════════════════════════════════════════════════════════════╕
│ Type                    │ Description                                                            │
╞═════════════════════════╪════════════════════════════════════════════════════════════════════════╡
│ [Market, Day, IntraDay] │ The historic data classes implement a Dict-like interface to access    │
│                         │ historic stock data. Valid keys are dates, integers, or strings        │
│                         │ containing dates in 'YYYY-MM-DD' format. Slices are also supported.    │
│                         │ Assuming x is an instance of Market, Day, or IntraDay, here are some   │
│                         │ examples: x['2020-01-01'], x['2020-01-01':'2021-01-01'], x[-252:]      │
│                         │ (returns last 252 trading days of data). Data is returned in a Panda   │
│                         │ dataframe.                                                             │
├─────────────────────────┼────────────────────────────────────────────────────────────────────────┤
│ Market                  │ The Market class contains 2 years of daily data for all tickers        │
│                         │ traded. Market data comes from Polygon which limits API calls to five  │
│                         │ a minute. Two years of data takes over an hour to download. The Market │
│                         │ class has a special update() method that updates the data when called. │
│                         │ When data is less than five days out of date, the class automatically  │
│                         │ fetches the new data. However, when the data is more than five days    │
│                         │ out of date you need to manually invoke the update method.             │
├─────────────────────────┼────────────────────────────────────────────────────────────────────────┤
│ Day                     │ The Day class contains 20 years of daily data for a specific ticker.   │
├─────────────────────────┼────────────────────────────────────────────────────────────────────────┤
│ IntraDay                │ The IntraDay class returns intraday data for a specific ticker. The    │
│                         │ data includes pre and post market trades. You can pass a period        │
│                         │ argument to the IntraDay constructor to specify either 1, 5, or 30     │
│                         │ minute data. The number of days of data depends on the period. For     │
│                         │ example, 30 days of 1 minute data are available (90 days of 5 minute   │
│                         │ data and one year of 30 minute data).                                  │
╘═════════════════════════╧════════════════════════════════════════════════════════════════════════╛

In [116]:
info('functions')

╒═════════════════════════╤═══════════════════════════════════════════════════════════════════════╕
│ Function                │ Description                                                           │
╞═════════════════════════╪═══════════════════════════════════════════════════════════════════════╡
│ intraday(symbol)        │ Returns current intraday one-minute data for the specified ticker.    │
├─────────────────────────┼───────────────────────────────────────────────────────────────────────┤
│ tickers(update = False) │ Returns table of all tickers. Set update to True when calling for the │
│                         │ first time or to download the latest data.                            │
├─────────────────────────┼───────────────────────────────────────────────────────────────────────┤
│ ticker_details(symbol)  │ Returns info about a ticker like market cap, institutional ownership  │
│                         │ ratio, etc...                                                         │
├─────────────────────────┼───────────────────────────────────────────────────────────────────────┤
│ ticker_news(symbol)     │ Returns list of news items about the specified ticker.                │
├─────────────────────────┼───────────────────────────────────────────────────────────────────────┤
│ quote(symbol)           │ Returns current quote for ticker.                                     │
╘═════════════════════════╧═══════════════════════════════════════════════════════════════════════╛

## Examples

In [107]:
from underdog import Market
market = Market()
# Invoke this once to download 2 years of data...will take over an hour
market.update()

True

In [109]:
# Get a dataframe of last two years of daily data for all tickers
market[:]

,symbol,volume,vwap,open,close,high,low,date,twap
0,A,1609122,77.1685,76.9800,77.4200,77.4600,76.3000,2019-04-26,76.86806
1,AA,2257704,26.9973,27.0500,26.9100,27.2500,26.8400,2019-04-26,27.046952
2,AAAU,30402,12.8574,12.8200,12.8450,12.8700,12.8200,2019-04-26,12.845833
3,AABA,3279169,76.1562,76.4400,76.1200,76.6800,75.5300,2019-04-26,76.101546
4,AAC,85690,1.5970,1.5900,1.6400,1.6600,1.5250,2019-04-26,1.591701
...,...,...,...,...,...,...,...,...,...
4531971,HOLD,175,98.7631,98.7450,98.7450,98.7450,98.7450,2021-05-10,HOLD
4531972,HLGE,13,26.3054,25.9974,25.9974,25.9974,25.9974,2021-05-10,HLGE
4531973,HEWC,4,30.8423,30.6740,30.6740,30.6740,30.6740,2021-05-10,HEWC
4531974,IBCE,125,24.8644,24.8450,24.8450,24.8450,24.8450,2021-05-10,IBCE
4531975,JHCS,40,38.5053,38.2801,38.2801,38.2801,38.2801,2021-05-10,JHCS

In [110]:
from underdog import ticker_details
# Get useful information about a ticker
ticker_details('TSLA')

{'market_cap': 647710000000,
 'shares_float': 770380000,
 'shares_outstanding': 963330000,
 'insider_ownership': 0.0,
 'institutional_ownership': 0.46,
 'retail_ownership': 0.54,
 'short_float': 0.07,
 'employees': 70757,
 'has_options': True,
 'is_shortable': True}

In [111]:
from underdog import IntraDay
# Last five days of TSLA intraday five minute data
df = IntraDay('TSLA', period = 5)[-5:]
# Filter for only regular hours trading (1 = pre-market, 2 = regular hours, 3 = extended hours)
df[df['trading_segment'] == 2]

,open,high,low,close,volume,timestamp,trading_segment,timeslot,twap
49,678.8000,683.4464,675.8701,676.9100,830269,2021-05-04 09:30:00-04:00,2,66,679.686748
50,676.7600,677.8800,674.1300,676.3150,356577,2021-05-04 09:35:00-04:00,2,67,676.003119
51,676.3850,678.8000,674.2981,676.8550,433493,2021-05-04 09:40:00-04:00,2,68,676.548856
52,676.9050,676.9999,667.8985,669.8200,503220,2021-05-04 09:45:00-04:00,2,69,672.286134
53,669.8200,671.9000,668.1200,670.8808,331188,2021-05-04 09:50:00-04:00,2,70,670.003163
...,...,...,...,...,...,...,...,...,...
832,632.2902,633.1300,630.3750,630.4200,208316,2021-05-10 15:35:00-04:00,2,139,631.804244
833,630.4000,630.6800,628.3800,629.2400,388961,2021-05-10 15:40:00-04:00,2,140,629.510306
834,629.3100,630.8900,628.5000,629.3700,337088,2021-05-10 15:45:00-04:00,2,141,629.695056
835,629.4600,629.8700,627.6101,628.4810,365889,2021-05-10 15:50:00-04:00,2,142,628.728706
836,628.6200,630.7850,628.4326,629.0400,452539,2021-05-10 15:55:00-04:00,2,143,629.615056