In [91]:
from underdog import help

## Overview
**Status**: Development

**Tested**: Windows only

**Requires**: Python 3.8+

The *underdog* package provides Python classes and functions to easily access free equity-related data through Panda dataframes. Data is cached on disk to improve performance and limit API requests to the data providers (which often rate limit the APIs). Currently, data is pulled from [Polygon](www.polygon.io), [finViz](https://finviz.com), and TD Ameritrade. 

Feel free to send questions, comments or feedback to: nanoonan at marvinsmind dot com.

## Installation

1. Install [parkit](https://github.com/nanoonan/parkit), which provides the storage layer. Make sure the _parkit_ directory is included in your PYTHONPATH.

2. Install _underdog_ by opening a command prompt, navigating to the top-level directory of the git installation, and running the following command.

```
python -m pip install .
```

3. You'll need a free account with [Polygon](https://polygon.io) and a developer account with TD Ameritrade. The documentation for [tda-api](https://tda-api.readthedocs.io/en/latest/index.html) has more information on setting up a TDA developer account.

4. Finally, set up the environment variables used to access data from your accounts. The next cell describes these variables.

In [89]:
help('environment')

╒════════════════════════╤═══════════════════════════════════════════════╕
│ Environment Variable   │ Description                                   │
╞════════════════════════╪═══════════════════════════════════════════════╡
│ POLYGON_API_KEY        │ The API key from your Polygon account.        │
├────────────────────────┼───────────────────────────────────────────────┤
│ TDA_TOKEN_PATH         │ Path to file where TDA auth token is stored.  │
├────────────────────────┼───────────────────────────────────────────────┤
│ TDA_API_KEY            │ The API key from your TDA developer account.  │
├────────────────────────┼───────────────────────────────────────────────┤
│ TDA_REDIRECT_URI       │ In most cases this will be https://localhost. │
├────────────────────────┼───────────────────────────────────────────────┤
│ TDA_ACCOUNT_ID         │ Account id for your TDA trading account.      │
╘════════════════════════╧═══════════════════════════════════════════════╛

## API

In [64]:
help()

help(topic: str) -> useful information
Valid help topics: introduction, installation, classes, functions

In [92]:
help('classes')

╒═════════════════════════╤═══════════════════════════════════════════════════════════════════════╕
│ Type                    │ Description                                                           │
╞═════════════════════════╪═══════════════════════════════════════════════════════════════════════╡
│ [Market, Day, IntraDay] │ The historic data classes implement a Dict-like interface to access   │
│                         │ historic stock data. Valid keys are dates, integers, or strings       │
│                         │ containing dates in 'YYYY-MM-DD' format. Slices are also supported.   │
│                         │ Assuming x is an instance, here are some examples: x['2020-01-01'],   │
│                         │ x['2020-01-01':'2021-01-01'], x[-252:] (returns last 252 trading days │
│                         │ of data). Data is returned in a Panda table.                          │
├─────────────────────────┼───────────────────────────────────────────────────────────────────────┤
│ Market                  │ The Market class contains 2 years of daily data for all tickers       │
│                         │ traded.                                                               │
├─────────────────────────┼───────────────────────────────────────────────────────────────────────┤
│ Day                     │ The Day class contains 20 years of daily data for a specific ticker.  │
├─────────────────────────┼───────────────────────────────────────────────────────────────────────┤
│ IntraDay                │ The IntraDay class contains about two months of one-minute intraday   │
│                         │ data for a specific tickers. Includes pre and post market trades. The │
│                         │ IntraDay class contains about two months of one-minute intraday data  │
│                         │ for a specific tickers. Includes pre and post market trades.          │
╘═════════════════════════╧═══════════════════════════════════════════════════════════════════════╛

In [65]:
help('functions')

╒═════════════════════════╤═══════════════════════════════════════════════════════════════════════╕
│ Function                │ Description                                                           │
╞═════════════════════════╪═══════════════════════════════════════════════════════════════════════╡
│ intraday(symbol)        │ Returns current intraday one-minute data for the specified ticker.    │
├─────────────────────────┼───────────────────────────────────────────────────────────────────────┤
│ tickers(update = False) │ Returns table of all tickers. Set update to True when calling for the │
│                         │ first time or to download the latest data.                            │
├─────────────────────────┼───────────────────────────────────────────────────────────────────────┤
│ ticker_details(symbol)  │ Returns info about a ticker like market cap, institutional ownership  │
│                         │ ratio, etc...                                                         │
├─────────────────────────┼───────────────────────────────────────────────────────────────────────┤
│ ticker_news(symbol)     │ Returns list of news items about the specified ticker.                │
╘═════════════════════════╧═══════════════════════════════════════════════════════════════════════╛

## Examples

In [82]:
from underdog import Market
df = Market()[:]
df

,symbol,volume,vwap,open,close,high,low,date,twap
0,A,1609122,77.1685,76.9800,77.4200,77.4600,76.3000,2019-04-26,76.868060
1,AA,2257704,26.9973,27.0500,26.9100,27.2500,26.8400,2019-04-26,27.046952
2,AAAU,30402,12.8574,12.8200,12.8450,12.8700,12.8200,2019-04-26,12.845833
3,AABA,3279169,76.1562,76.4400,76.1200,76.6800,75.5300,2019-04-26,76.101546
4,AAC,85690,1.5970,1.5900,1.6400,1.6600,1.5250,2019-04-26,1.591701
...,...,...,...,...,...,...,...,...,...
4521651,ARCM,200,100.0298,100.0300,100.0300,100.0300,100.0300,2021-05-07,100.030000
4521652,ESGN,728,28.6764,28.6150,28.6150,28.6150,28.6150,2021-05-07,28.615000
4521653,EAOK,363,27.5315,27.5347,27.5347,27.5347,27.5347,2021-05-07,27.534700
4521654,EAOM,100,28.5166,28.6215,28.6215,28.6215,28.6215,2021-05-07,28.621500
4521655,DYHG,18,56.9200,57.0110,57.0110,57.0110,57.0110,2021-05-07,57.011000

In [67]:
from underdog import ticker_details
ticker_details('TSLA')

{'market_cap': 647710000000,
 'shares_float': 770380000,
 'shares_outstanding': 963330000,
 'insider_ownership': 0.0,
 'institutional_ownership': 0.46,
 'retail_ownership': 0.54,
 'short_float': 0.07,
 'employees': 70757,
 'has_options': True,
 'is_shortable': True}

In [80]:
from underdog import IntraDay
# Last five days of TSLA intraday (one-minute) data
df = IntraDay('TSLA')[-5:]
# Filter for only regular hours trading (1 = pre-market, 2 = regular hours, 3 = extended hours)
df[df['trading_segment'] == 2]

,open,high,low,close,volume,timestamp,trading_segment
195,703.8000,706.0000,702.8900,703.5200,213505,2021-05-03 09:30:00-04:00,2
196,703.9800,703.9899,699.2788,699.3318,149198,2021-05-03 09:31:00-04:00,2
197,699.5800,701.5500,698.5341,698.7457,97179,2021-05-03 09:32:00-04:00,2
198,698.5001,701.6700,698.5001,699.1600,107517,2021-05-03 09:33:00-04:00,2
199,699.0000,701.4600,699.0000,699.6600,89382,2021-05-03 09:34:00-04:00,2
...,...,...,...,...,...,...,...
3414,671.8700,673.0000,671.8000,672.5700,93098,2021-05-07 15:55:00-04:00,2
3415,672.5600,672.7500,672.3400,672.6000,55404,2021-05-07 15:56:00-04:00,2
3416,672.5671,672.9500,672.4200,672.9500,69338,2021-05-07 15:57:00-04:00,2
3417,672.9700,673.0000,672.6100,672.9000,95969,2021-05-07 15:58:00-04:00,2
3418,672.9000,672.9400,671.9000,672.3600,148692,2021-05-07 15:59:00-04:00,2

In [93]:
from underdog import intraday
intraday('TSLA')

,open,high,low,close,volume,timestamp,trading_segment,twap
0,667.000,668.16,665.49,667.29,19844,2021-05-10 07:00:00-04:00,1,666.824053
1,667.450,667.94,667.20,667.73,2285,2021-05-10 07:01:00-04:00,1,667.569258
2,667.800,669.99,667.52,669.34,3380,2021-05-10 07:02:00-04:00,1,668.774914
3,669.380,669.38,668.30,668.59,1317,2021-05-10 07:03:00-04:00,1,668.817609
4,668.500,669.02,668.40,668.99,253,2021-05-10 07:04:00-04:00,1,668.703523
...,...,...,...,...,...,...,...,...
645,624.575,624.80,624.00,624.18,932,2021-05-10 17:45:00-04:00,3,624.401460
646,624.350,624.50,624.00,624.25,1280,2021-05-10 17:46:00-04:00,3,624.249495
647,624.250,624.50,624.00,624.00,899,2021-05-10 17:47:00-04:00,3,624.258333
648,624.000,624.44,623.50,624.00,2040,2021-05-10 17:48:00-04:00,3,623.970000
649,623.750,624.44,623.75,624.05,616,2021-05-10 17:49:00-04:00,3,624.104673